/* Reset */
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    text-align: center;
}

button, input, select {
    appearance: none;
}

/* General */
html, body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
            sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.8rem;
}

/* Header */
.header {
    padding: 30px 40px;
}

.portrait {
    position: relative;

    margin: 0 auto 60px;
    min-height: 450px;

    background-clip: border-box;
    background-image: url("../asset/image/portfolio-portrait.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.portrait-heading {
    position: absolute;
    bottom: 15px;
    margin: 0 auto;
    width: 100%;

    color: white;
    font-weight: 600;
    text-align: center;
    text-shadow: -2px 8px 4px #555555;
}

.about {

}

.about-heading {
    text-align: center;
}

.about-details {
    color: #444444;
    font-size: 1.4rem;
    line-height: 1.7lh;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.icons-link {

}

.icons-icon {
    width: 52px;
}
/* Main */
.showcase {
    padding: 80px 25px 160px;
}

.project {

}

.project-image {
    width: 100%;
    height: 350px;
}

.project-details {

}

.project-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 4px;
}

.project-title {
    margin: 20px 0;

    font-size: 4vw;
    font-weight: normal;
    text-align: left;
}

.project-links {
    display: flex;
    gap: 4vw;
}

.project-profile, .project-preview {

}

.project-preview-icon, .project-profile-icon {
    width: 24px;
}

.project-description {
    padding: 0 10px;

    color: #555555;
    font-size: 1.2rem;
}

/* Footer */

/* Media Queries */
@media screen and (min-width: 600px) {

}

@media screen and (min-width: 1200px) {

}
