/* Reset */
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

button, input, select {
    appearance: none;
}

/* General */
html, body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
            sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
}

/* Header */
h1 {
    text-align: center;
}

/* Main */
.image {
    display: block;

    border-color: black;
    border-style: solid;
    border-width: 4px;
    width: 200px;
    height: 200px;
}

.image-1 {
    border-color: red;
}

.image-2 {
    border-color: green;

    background-clip: border-box;
    background-image: url("../asset/image/crow.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image-3 {
    border-color: blue;
}

/* Footer */
