/* Import */
@font-face {
    font-family: CalistogaRegular;
    src: url("../asset/font/calistoga/fonts/Calistoga-Regular.ttf")
}

@font-face {
    font-family: SuseMono;
    src: url("../asset/font/suse_mono/fonts/variable/SUSEMono[wght].ttf");
}

/* Reset */
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    text-align: center;
}

button, input, select {
    appearance: none;
}

/* General */
html, body {
    /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
            sans-serif; */
    font-family: CalistogaRegular;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.8rem;
}

/* Header */
.header {
    padding: 30px 40px;
}

.portrait {
    position: relative;

    margin: 0 auto 60px;
    min-height: 450px;

    background-clip: border-box;
    background-image: url("../asset/image/portfolio-portrait-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.portrait-heading {
    position: absolute;
    bottom: 15px;
    margin: 0 auto;
    width: 100%;

    color: white;
    font-weight: 600;
    text-align: center;
    text-shadow: -2px 8px 4px #555555;
}

.about {

}

.about-heading {
    text-align: center;
}

.about-details {
    color: #444444;
    font-family: SuseMono;
    font-size: 1.4rem;
    line-height: 1.7lh;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.icons-link {

}

.icons-icon {
    width: 40px;
}
/* Main */
.showcase {
    padding: 80px 25px 160px;
}

.showcase-heading {
    margin: 0 0 20px;

    font-weight: normal;
}

.project {
    margin: 60px 0;

    box-shadow:
            0 2px 4px #CCCCCC,
            0 2px 8px #AAAAAA,
            0 2px 12px #999999;
}

.project-image {
    width: 100%;
    height: 350px;
}

.project-details {
    padding: 20px;
}

.project-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-title {
    margin: 20px 5px 20px 0;

    font-size: 5vw;
    font-weight: normal;
    text-align: left;
}

.project-links {
    display: flex;
    gap: 2vw;
}

.project-profile, .project-preview {

}

.project-preview-icon, .project-profile-icon {
    width: 24px;
}

.project-description {
    /* padding: 0 10px; */

    color: #555555;
    font-size: 1.2rem;
}

/* Footer */

footer {
    color: white;
    background-color: #4499AA;
}

.contact {
    padding: 30px 20px 60px;
    font-style: normal;
}

.contact-heading {
    font-weight: normal;
}

.contact-message {
    font-size: 1.2rem;
}

.contact-address {

}

.contact-address-house {
    margin: 24px 0;
}

.contact-address-house-line {
    margin: 2px 0;
}

.contact-address-phone, .contact-address-email {
    margin: 2px 0;
}

.contact-social {
    display: flex;
    justify-content: center;
    gap: 16px;

    margin: 20px 0;
}

.contact-social-link {
    width: 48px;
}

.contact-social-image {

}

.footer-image {
    width: 100%;
    min-height: 650px;
    background-clip: border-box;
    background-image: url("../asset/image/portfolio-portrait-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Media Queries */
@media screen and (min-width: 600px) {

}

@media screen and (min-width: 1200px) {

}
